::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #ffffff00; 
  }
    
  ::-webkit-scrollbar-thumb {
    background: $primary; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #5e2de9; 
  }