@import "./base.scss";

.team-page {
  &.page-hero {
    background-image: none;

    .hero-bg {
      background-image: url(../assets/team-bg-placeholder.png);
    }
  }
}

.team-members {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1400px;

  .team-member {
    width: calc(25% - 30px);
    width: 280px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px 15px 15px;

    img {
      width: 100%;

      border-radius: 16px;
    }

    &__info {
      margin-top: -30px;
      background-color: $black100;
      width: calc(100% - 70px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 12px 40px 18px;
      height: 122px;
      border-radius: 8px;
      white-space: nowrap;
    }
    &__name {
      color: $white;
      font-size: 1.5rem;
    }
    &__title {
      color: $secondary-turquoise;
      font-size: 1rem;
    }
    &__links {
      a {
        span {
          display: inline-block;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      .linkedin {
        background-image: url(../assets/icons/linkedin_v2.svg);
      }

      .github {
        background-image: url(../assets/icons/github_v2.svg);
      }
      .twitter {
        background-image: url(../assets/icons/twitter_v2.svg);
      }
    }
  }
}

.team-action-panels {
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.team-action-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 40px;
  min-height: 250px;
  background: $black90;
  border: 1px solid $black70;
  box-shadow: 0px 44px 40px -24px rgba(20, 9, 14, 0.3);
  border-radius: 1rem;
  margin: 15px;
  width: 100%;

  &__icon {
    padding-right: 1rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
  }

  &__title {
    font-size: 1.5rem;
    color: $white;

    span {
      color: $secondary-turquoise;
      &:before {
        content: "<";
      }
      &:after {
        content: ">";
      }
    }
  }

  &__description {
    font-size: 1rem;
    color: $black10;
    margin: 1rem 0;
  }
}
